 <h1> Lista de productos:</h1>

 <% productos.forEach(producto =>{%>
    <h1><a href="/productos/<%= producto.id %>"> id: <%= producto.id %></a></h1>
    <p>nombre: <%= producto.nombre %></p>
<% })%>
<a href="/productos/create">Crear Producto</a>